/* Import Poppins Regular Font */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Poppins-Regular.woff') format('woff'); /* Legacy Browsers */
    font-weight: 400; /* Regular weight */
    font-style: normal; /* Normal style */
}

/* Apply Poppins font to body */
body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font as fallback */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #DDD0C8
;
}

img {
    max-width: 100vw;
    max-height: 80vh; /* Adjusted height to leave space for the download link */
    object-fit: contain;
}

.download-link {
    margin-top: 20px; /* Adjust the margin as needed */
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

/* CSS for Navbar */
.navbar {
    overflow: hidden;
    background-color: #DDD0C8; /* Background color of navbar */
    position: fixed; /* Fixed positioning to keep the navbar at the top */
    width: 100%; /* Full width */
    top: 0; /* Align to the top */
    z-index: 1000; /* Set z-index to ensure the navbar is above other elements */
}

.navbar a {
    float: left;
    display: block;
    color: #323232;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #DDD0C8;
}

.navbar a:hover {
    background-color: grey;
}


.navbar a.active {
    background-color: #323232; /* Background color of active link */
    color: #DDD0C8;
}

/* Adjusting the margin to prevent the content from being hidden under the navbar */
body {
    margin-top: 40px; /* Adjust the value as needed based on the height of your navbar */
}
